<span
        class="clerk"
        data-api="log/sale"

        data-sale="{{ order.id }}"
        data-email="{{ order.email }}"
        {% if order.customer %}
            data-customer="{{ order.customer }}"
        {% endif %}
        data-products='{{ order.products|json_encode }}'>
</span>
